
main {
    max-width: 1000px;
    margin: 0 auto;
}
header, footer {
    color: darkred;
    padding: 1rem;
    text-align: center;

}
footer {
    border-top: 2px solid gold;
}
.main-nav {
    text-align: right;
    padding: 1rem 1rem;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
}

.main-nav a {
    padding: 1.5rem;
    color: red;
    
}
.book-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.book-data {
    border-top: 2px solid gold;
    margin-top: 3rem;
    text-align: right;
}

.book-content {
    text-align: center;
}

.book-content img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
    
}
.book-content p {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.book-content h2{
    color: darkred;
    
    
}

@media screen and (min-width: 700px) {
    .book-review {
        grid-template-columns: 200px 1fr;
    }

    .book-data {
        border-top: none;
        border-right: 2px solid gold;
        padding-right: 1rem;
    }

    .book-content {
        text-align: left;
        padding-left: 1rem;
    }
    .book-content img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
    }
    .book-content p, h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    footer {
        grid-column: 1 / 3;
    }
}

