
main {
    max-width: 1000px;
    margin: 0 auto;
}
header, footer {
    color: darkred;
    padding: 1rem;
    text-align: center;

}
footer {
    border-top: 2px solid gold;
}
.main-nav {
    text-align: right;
    padding: 2px;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
}

.main-nav a {
    padding: 1px;
    color: red;
    
}
.book-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.book-data {
    border-top: 2px solid gold;
    text-align: right;
}



.book-content img {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .book-review {
        grid-template-columns: 200px 1fr;
    }

    .book-data {
        border-top: none;
        border-right: 2px solid gold;
        padding-right: 1rem;
    }

    footer {
        grid-column: 1 / 3;
    }
}

